<p style="color: green"><%= notice %></p>

<h1 class="text-2xl font-bold">Projects</h1>

<div id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
    <p class="underline">
      <%= link_to "Show this project", project %>
    </p>
  <% end %>
</div>

<p class="underline"><%= link_to "New project", new_project_path %></p>
